<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black_List</title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/common_ejs.css">
    <style>
        input.default-content {
            color: grey;
            /* 默认文字颜色 */
        }

        input.default-content:focus {
            color: black;
            /* 聚焦时文字颜色 */
            user-select: none;
            /* 禁止全选文本 */
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="main">
            <div class="select">
                <form action="/like_black_rule" method="get" id="myform">
                    <select onchange="submitForm()" name="selectVal">
                        <% Black_List.forEach(function (item) { %>
                            <option value="<%= item.attackIp %>">
                                <%= item.attackIp %>
                            </option>
                            <%}) %>
                    </select>
                    <div class="search">
                        <input type="text" name="like_black_rule" class="default-content"
                            value="可输入完整IP，若进行模糊搜索，则输入192.%，省略部分用%代替。"
                            onfocus="if(this.value=='可输入完整IP，若进行模糊搜索，则输入192.%，省略部分用%代替。') this.value='';"
                            onblur="if(this.value=='') this.value='可输入完整IP，若进行模糊搜索，则输入192.%，省略部分用%代替。';">
                        <button class="search-btn">
                            <img src="/images/fangdajing.png" alt="">
                        </button>
                    </div>
                </form>
                <button id="addBtn" class="add-btn">添&nbsp;加</button>
            </div>
            <script>
                // 触发提交form表单进行select搜索
                function submitForm() {
                    var form = document.getElementById('myform');
                    form.submit();
                }
            </script>
            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>IP地址</th>
                            <th>攻击次数</th>
                            <th>封禁状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% Black_List.forEach(function (item) { %>
                            <tr>
                                <td>
                                    <%= item.attackIp %>
                                </td>
                                <td>
                                    <%= item.attackNum %>
                                </td>
                                <td>
                                    <img src="/images/xiugai.png" alt="" class="edit update-item"
                                        data-id="<%= item.attackIp %>" data-keyword="<%= item.attackNum %>">
                                    &nbsp;&nbsp;
                                    <img src="/images/shanchu.png" alt="del" class="delete-item"
                                        data-id="<%= item.attackIp %>">
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <div class="page">
                    <ul class="pagination">
                        <% var prevNum=2;var nextNum=2;%>
                            <li class="disabled"><a href="javascript:;">&nbsp;共<%= pager.maxNum%>条&nbsp;</a></li>
                            <li class="disabled"><a href="javascript:;">&nbsp;共<%= pager.pageCount%>页&nbsp;</a></li>

                            <!--判断首页  开始-->
                            <% if(pager.maxNum==0){ %>
                                <li class="disabled"><a href="javascript:;">&nbsp;首页&nbsp;</a></li>
                                <% }else{ %>
                                    <li><a href="/Black_List?page=1">&nbsp;首页&nbsp;</a></li>
                                    <% } %>
                                        <!--判断首页  结束-->
                                        <li class="disabled"><a href="javascript:;">&nbsp;上一页&nbsp;</a></li>

                                        <!--循环显示页码  开始-->
                                        <% for(var i=prevNum; i>0; i--){ %>
                                            <% if(parseInt(pager.pageCurrent)-i>0){ %>
                                                <li><a href="/Black_List?page=<%= parseInt(pager.pageCurrent) - i%>">
                                                        &nbsp;
                                                        <%= parseInt(pager.pageCurrent) - i %>
                                                            &nbsp;
                                                    </a></li>
                                                <% }} %>
                                                    <li class="active">
                                                        <a href="/Black_List?page=<%= pager.pageCurrent%>">
                                                            &nbsp;
                                                            <%= pager.pageCurrent %>
                                                                &nbsp;
                                                        </a>
                                                    </li>
                                                    <% for(var i=1;i<=nextNum;i++){ %>

                                                        <% if(parseInt(pager.pageCurrent)+i<=pager.pageCount ){ %>
                                                            <li>
                                                                <a
                                                                    href="/Black_List?page=<%= parseInt(pager.pageCurrent) + i%>">
                                                                    &nbsp;
                                                                    <%= parseInt(pager.pageCurrent) + i%>
                                                                        &nbsp;
                                                                </a>
                                                            </li>

                                                            <% }} %>
                                                                <!--循环显示页码  结束-->
                                                                <li class="disabled"><a
                                                                        href="javascript:;">&nbsp;下一页&nbsp;</a>
                                                                </li>
                                                                <!--判断尾页  开始-->
                                                                <% if(pager.maxNum==0){ %>
                                                                    <li class="disabled"><a
                                                                            href="javascript:;">&nbsp;尾页&nbsp;</a>
                                                                    </li>
                                                                    <% }else{ %>
                                                                        <li><a
                                                                                href="/Black_List?page=<%= pager.pageCount %>">&nbsp;尾页&nbsp;</a>
                                                                        </li>
                                                                        <% } %>
                                                                            <!--判断尾页  结束-->

                                                                            <li class="disabled"><a
                                                                                    href="javascript:;">&nbsp;上一页&nbsp;</a>
                                                                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--添加操作 开始-->
    <div class="dialog isDialog"></div>
    <div class="dialog-wrap isDialog">
        <div class="dialog-header">
            <h3>添加黑名单</h3>
            <div class="close">
                <img src="/images/close.png" alt="">
            </div>
        </div>
        <form action="/Black_List_addLog" method="post" enctype="multipart/form-data">
            <div>
                <p>恶意IP</p>
                <p><input type="text" name="attackIp" class="form-control default-content" value="127.0.0.1"
                        onfocus="if(this.value=='127.0.0.1') this.value='';"
                        onblur="if(this.value=='') this.value='127.0.0.1';"></p>
            </div>
            <div>
                <p>封禁状态</p>
                <p><input type="text" name="B_flag" class="form-control default-content" value="true/false"
                        onfocus="if(this.value=='true/false') this.value='';"
                        onblur="if(this.value=='') this.value='true/false';">
                </p>
            </div>
            <div class="dialog-footer">
                <span class="cancel">取消</span>
                <button class="determine">确定</button>
            </div>
        </form>
    </div>
    <!-- 添加操作 结束-->
    <!-- 删除操作 开始-->
    <div class="dialog isDelete"></div>
    <div class="dialog-wrap isDelete">
        <div class="dialog-header">
            <h3>确定要删除此IP吗？</h3>
            <div class="close">
                <img src="/images/close.png" alt="">
            </div>
        </div>
        <div class="dialog-footer">
            <span class="cancel">取消</span>
            <button class="determine determineDel">确定</button>
        </div>
    </div>
    <!-- 删除操作 结束 -->
    <script src="/javascripts/jquery.js"></script>
    <script>
        $(function () {
            var id = '';
            var updateHtml = '';
            // 显示添加表单
            $('#addBtn').click(function () {
                $('.isDialog').show();
            })
            // 隐藏添加表单
            $('.close,.cancel').click(function () {
                $('.isDialog').hide();
            })
            // 点击删除按钮
            $('.delete-item').click(function () {
                id = $(this).data('id');
                $('.isDelete').show();
            })
            // 隐藏删除
            $('.close,.cancel').click(function () {
                $('.isDelete').hide();
            })
            // 确定删除
            $('.determineDel').click(function () {
                window.location.href = `/Black_List_del?id=${id}`;
            })
            // 点击修改操作
            $('.update-item').click(function () {
                var updateIp = $(this).data('id');
                var updateKeyword = $(this).data('keyword');
                updateHtml = `
                    <div class="dialog isUpdate"></div>
                    <div class="dialog-wrap isUpdate">
                        <div class="dialog-header">
                            <h3>修改数据</h3>
                            <div class="close">
                                <img src="/images/close.png" alt="">
                            </div>
                        </div>
                        <form action="/Black_List_update" method="post" enctype="multipart/form-data">
                            <div>
                                <p>恶意IP</p>
                                <p><input type="text" name="upIp" class="form-control" value=${updateIp}></p>
                            </div>
                            <div>
                                <p>封禁状态</p>
                                <p><input type="text" name="keyWord" class="form-control default-content" value="true/false"
                        onfocus="if(this.value=='true/false') this.value='';"
                        onblur="if(this.value=='') this.value='true/false';">
                </p>
                            </div>
                            <div class="dialog-footer">
                                <span class="cancel">取消</span>
                                <input type="submit" value='确定' class="determine">
                            </div>
                        </form>
                    </div>
                    `
                $('body').append(updateHtml);
            })
            // 取消修改操作
            $('body').on('click', '.close,.cancel', function () {
                $('.isUpdate').hide();
            })
        })
    </script>
</body>

</html>